01-AcnucFamilies/*.fam
01-AcnucFamilies/final_clusters.isoforms.hogenom7.clu.bz2

02-Extracting_families_per_kingdom/Archaea/*
02-Extracting_families_per_kingdom/Bacteria/*
02-Extracting_families_per_kingdom/Eukaryota/*
02-Extracting_families_per_kingdom/Archaea*
02-Extracting_families_per_kingdom/Bacteria*
02-Extracting_families_per_kingdom/Eukaryota*

03-Filtering_gene_families_per_kingdom/Archaea/*
03-Filtering_gene_families_per_kingdom/Bacteria/*
03-Filtering_gene_families_per_kingdom/Eukaryota/*

04-Filtering_on_number_of_sequences_per_family/Archaea/*
04-Filtering_on_number_of_sequences_per_family/Bacteria/*
04-Filtering_on_number_of_sequences_per_family/Eukaryota/*

07-Filtering_sequences_on_their_quality/csvs/*

08-Filtering_similar_sequences/List_gene_families.txt
08-Filtering_similar_sequences/Stats/*csv
08-Filtering_similar_sequences/csvs/*
08-Filtering_similar_sequences/logs/*

09-Optimising_alignment_to_reduce_number_of_sequences/Stats/*csv
09-Optimising_alignment_to_reduce_number_of_sequences/csvs/*

0-tests/*

Database*

*.pdf
.Rproj.user

rename.sh
code_tree_readme.txt
Cluster_Got/*
