01-AcnucFamilies/*.fam
01-AcnucFamilies/final_clusters.isoforms.hogenom7.clu.bz2

02-Extracting_families_per_kingdom/Archaea/*
02-Extracting_families_per_kingdom/Bacteria/*
02-Extracting_families_per_kingdom/Eukaryota/*
02-Extracting_families_per_kingdom/Archaea*
02-Extracting_families_per_kingdom/Bacteria*
02-Extracting_families_per_kingdom/Eukaryota*

03-Filtering_gene_families_per_kingdom/Archaea/*
03-Filtering_gene_families_per_kingdom/Bacteria/*
03-Filtering_gene_families_per_kingdom/Eukaryota/*

04-Filtering_on_number_of_sequences_per_family/Archaea/*
04-Filtering_on_number_of_sequences_per_family/Bacteria/*
04-Filtering_on_number_of_sequences_per_family/Eukaryota/*

07-Filtering_sequences_on_their_quality/csvs/*

08-Filtering_similar_sequences/List_gene_families.txt
08-Filtering_similar_sequences/Statistics/*

09-Optimising_alignment_to_reduce_number_of_sequences/Archaea/*
09-Optimising_alignment_to_reduce_number_of_sequences/Bacteria/*
09-Optimising_alignment_to_reduce_number_of_sequences/Eukaryota/*
09-Optimising_alignment_to_reduce_number_of_sequences/logs/*


998-Stats_on_alignment_methods/Data/*
998-Stats_on_alignment_methods/CLUSTALO/*
998-Stats_on_alignment_methods/CLUSTALW/*
998-Stats_on_alignment_methods/PRANK/*
998-Stats_on_alignment_methods/MUSCLE/*
998-Stats_on_alignment_methods/MAFFT/*
998-Stats_on_alignment_methods/Stats_alignment_speeds.csv

999-Testing_acnuc_extractions/*
0-tests/*

Database*

*.pdf
.Rproj.user

rename.sh
code_tree_readme.txt
exec.sh
